.select-container {
	width: 80%;
	margin: 1% auto;
	border: 1px solid black;
	height: 98%;
	display: flex;
	justify-content: space-between;
	padding-left: 10%;
	padding-top: 0.3%;
}
.select-container div:first-of-type {
	width: max-content;
}

.img-main {
	width: 130px;
	height: 300px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
}

.imgs {
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	overflow-y: hidden;
	overflow-x: scroll;
	border: 0.2px solid rgb(147, 147, 147);
}

.imgs-child {
	height: 90%;
	margin: 0.5%;
	border: 0.5px solid rgb(0, 0, 0);
	&:hover {
		box-shadow: rgba(255, 30, 30, 0.774) 0px 0px 0px 3px;
		height: 93%;
	}
}

.right-select {
	width: 60%;
	margin: 1% 3%;
}

.right-select > p {
	font-size: 200%;
}

.rate {
	width: 100% !important;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.rate > p {
	display: block;
	width: 20%;
	text-align: end;
	color: rgb(84, 84, 84);
	font-size: 130%;
	cursor: pointer;
}

.price {
	display: flex;
	width: 100%;
	align-items: center;
	background-color: rgb(247, 247, 247);
	padding-left: 2%;
}

.price p {
	margin: 2% 0.5%;
}
.price p:first-of-type {
	color: gray;
	text-decoration: line-through;
}
.price p:nth-of-type(2) {
	font-size: 250%;
	color: rgb(255, 0, 0);
}

.price p:last-of-type {
	background-color: rgb(255, 66, 66);
	color: white;
	padding: 0 0.5%;
	border-radius: 5px;
}

.insurance {
	display: flex;
	margin: 2% 0;
	font-size: 120%;
}

.insurance span:nth-of-type(2) {
	background-color: red;
	color: white;
	padding: 0 0.5%;
	margin-right: 5%;
	border-radius: 5px 5px 5px 0;
	font-size: 100% !important;
}

.insurance span:last-of-type {
	color: rgb(75, 180, 255);
	cursor: pointer;
}

.ship {
	display: flex;
	margin: 2% 0;
	font-size: 120%;
	width: 100%;
}
.ship > div {
	margin: 0 2%;
}

.ship > div > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ship span {
	color: rgb(0, 0, 0);
}

.ship div p:nth-of-type(2) {
	margin-top: 5%;
	color: #05a;
}

.amount {
	width: 5%;
	background-color: white;
	border: 1px solid rgba(25, 118, 210, 0.5);
	border-radius: 5px;
	padding: 0.5% 1%;
	text-align: center;
	height: 30px;
}

.button {
	// padding:3%!important;
	min-width: max-content !important;
	background-color: white !important;
	min-height: max-content !important;
	height: 30px !important;
}

.button:first-of-type {
	margin-left: 5% !important;
}

.price-total {
	display: flex;
	margin: 3% 0;
	font-size: 120%;
	height: 8%;
	align-items: center;
}

.price-total p:last-of-type {
	margin-left: 3%;
	color: rgb(139, 139, 139);
	font-size: 80%;
}

.submit1 {
	border: 1px solid #05a !important;
	color: #05a !important;
	width: max-content !important;
	display: inline !important;
}
.submit2 {
	font-size: 110% !important;
	color: rgb(255, 255, 255);
	background-color: red !important;
	margin-left: 5% !important;
	height: 100% !important;
}

.last-select {
	display: flex;
	margin: 1% 0 0 0;
	border-top: 0.5px solid rgb(221, 221, 221);
	padding: 3% 0;
}

.last-select p:last-of-type {
	margin-left: 5%;
	color: rgb(54, 54, 54);
}

.last-select p {
	margin-left: 0.5%;
	color: red;
}

.shop-icon {
	color: red !important;
}

.type {
	width: 90% !important;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.type span {
	width: 33%;
	margin: 1% 5%;
	cursor: pointer;
	color: rgb(0, 0, 0);
	border: 0.5px solid rgb(227, 227, 227);
	padding: 1.5%;
}

.type-select {
	width: 30%;
}

#active {
	background-color: aqua !important;
	border: none;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.type1 {
	text-align: start !important;
	color: rgb(216, 91, 80) !important;
	border: none !important;
}

.btn {
	width: 100%;
	display: flex;
	height: 7.3%;
}

@media screen and (max-width: 902px) {
	.box {
		font-size: 90% !important;
	}
}
@media screen and (max-width: 852px) {
	.box {
		font-size: 70% !important;
	}
	.button {
		width: 20px !important;
		height: 20px !important;
		padding: 0% !important;
	}
	.amount {
		width: 20px !important;
		height: 20px !important;
	}
	.rate > p {
		width: 20%;
	}
}
@media screen and (max-width: 775px) {
	.select-container {
		width: 96% !important;
	}
	.box {
		font-size: 85% !important;
	}
	.img-main > img {
		height: 70% !important;
	}
}
@media screen and (max-width: 650px) {
	.box {
		height: 80% !important;
	}
}
@media screen and (max-width: 650px) {
	.img-main > img {
		height: 70% !important;
	}
	.img-main {
		height: 220px !important;
		width: max-content !important;
	}
	.left {
		height: max-content !important;
	}
	.box {
		font-size: 70% !important;
	}
}
@media screen and (max-width: 520px) {
	.img-main > img {
		height: 60% !important;
	}
	.img-main {
		height: 200px !important;
		width: max-content !important;
	}
	.right-select {
		width: 80% !important;
	}
	.select-container {
		padding-left: 2% !important;
	}
}
@media screen and (max-width: 428px) {
	.select-container {
		flex-direction: column !important;
	}
	.img-main {
		width: 1% !important;
		display: none !important;
	}
	.imgs {
		margin: 0 auto !important;
		width: 96% !important;
	}
	.left {
		width: 100% !important;
	}
}
