//wrapper
.wrapper {
    width: 100%;
    max-width: min((100vh - 96px) - 60px , 734px);
    min-height: 100px;
    padding: 8px 0;
    background:rgb(255, 255, 255) ;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    height: 46vh;
    overflow: auto;
}
.wrapper::-webkit-scrollbar {
    width: 10px;
}
.wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
.wrapper::-webkit-scrollbar-track {
    border-radius: 0;
    background-color:#f2f2f2;
    border: none;
}
@media only screen and (max-width: 600px) {
	.wrapper {
        position: relative;
        left: -62px;
        width: 316px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }