.paymentInfo {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	min-height: 200px;
	width: 600px;
	margin: 10px auto 20px;
}
.paymentInfo__header {
	margin: 18px 0;
}
.paymentInfo__header h3 {
	font-size: 18px;
	font-weight: 600;
	color: #d70018;
	text-align: center;
	position: relative;
}
.paymentInfo__header__backs {
	position: absolute;
	top: 0px;
	left: 0;
}
.paymentInfo__header__backs p {
	margin: 0;
	font-size: 16px;
	color: #d70018;
}
.paymentInfo__content__info {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.paymentInfo__content__input {
	border-radius: 10px;
	border: 1px solid #ddd;
	margin: 0 0 8px 0;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
}
.paymentInfo__content h2 {
	color: #0e2431;
	font-weight: 700;
	font-size: 16px;
}
.paymentInfo__content {
	border-radius: 15px;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	padding: 10px;
}
.paymentInfo__content__info1 {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.paymentInfo__content__info1__radio {
	color: #333333;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}
.paymentInfo__content__input__radio {
	margin-right: 5px;
}

.Cart__content__list__buy1 {
	width: 100%;
	border-radius: 15px;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	padding: 10px;
	margin: 15px 0;
	background-color: #fff;
}
.Cart__content__list__buy1__price {
	font-size: 16px;
	color: #d70018;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Cart__content__list__buy1__btn1 {
	font-size: 16px;
	padding: 10px 16px;
	margin-bottom: 8px;
	color: #fff;
	text-transform: uppercase;
	background-color: #d70018;
	font-weight: 600;
	text-align: center;
	border: 1px solid #d70018;
	cursor: pointer;
	border-radius: 4px;
}
.Cart__content__list__buy1__btn2 {
	font-size: 16px;
	padding: 10px 16px;
	margin-bottom: 8px;
	color: #d70018;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: 600;
	text-align: center;
	border: 1px solid #d70018;
	cursor: pointer;
	border-radius: 4px;
}
.Cart__content__list__buy1__btn2:hover {
	background-color: #dc3545;
	color: #fff;
	transition: all linear 0.2s;
}
/* .Cart__content__list__detail1 i {
  font-size: 16px;
  color: #ccc;
  cursor: pointer;
  float: right;
} */

.warning {
	font-size: 1.6rem;
	color: #f00e0e;
}
