.contaier {
	width: 90%;
	margin: 0 auto;
}
//backtotopbutn
.up-top {
    display: flex;
    position: fixed;
    right: -20px;
    bottom: 100px;
    align-items: center;
    cursor: pointer;
    color: #000;
    font-size: 11px;
    font-weight: 900;
    transform: rotate(-90deg);
    
    span {
        font-size: 15px;
        font-weight: 600;
        padding-right: 8px;
    }
    .icon-up {
        font-size: 20px;
    }
}
//mobile
@media only screen and (max-width: 600px) {
    .contaier {
        width: 100%;
        margin-top: 120px;
    }
    .up-top {
        bottom: 50px;
        span {
            font-size: 10px;
        }
        .icon-up{
            font-size: 10px;
        }
    }
  }
